body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  margin: 0;
}

p {
  font-size: 0.9em;
  color: hsl(216, 15%, 48%);
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.card-title {
  font-size: 1.275em;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.card-body {
  width: 18rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  gap: 0.4em;
  box-shadow: 0 8px 20px -8px hsla(216, 15%, 48%, 0.2);
}

.text-area {
  width: 250px;
  margin: 0;
}

.card-image {
  width: 100%;
  border-radius: 8px;
}

.card-figure {
  margin: 0;
}
